services:
  bq2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bootstrap-qcow2
    volumes:
      - type: bind
        source: .
        target: /work/bootstrap-qcow2
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
    cap_add:
      - SYS_ADMIN
    #sysctls:
    #  kernel.unprivileged_userns_clone: "1"
    #  kernel.apparmor_restrict_unprivileged_userns: "0"
    tmpfs:
      - /run
      - /run/lock
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    tty: true
    stdin_open: true
    command: bash

